@import "../fonts/darkmode-on/darkmodeon.css";
@import "./toggle.css";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--colour-body);
  font-weight: 300;
  background-color: var(--colour-background);
  font-family: darkmodeon ,sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Variables */
.theme-light {
  --colour-background: #edf0f3;
  --colour-body: #333333;
  --colour-primary: #f39d21;
  --colour-secondary: #2ec4b6;
  /* Tiles */
  --colour-tile-background: #ffffff;
  --colour-tile-shadow: #adadad;
  /* Modal */
  --filter-close-button: invert(0) grayscale(100%) brightness(200%);
}
.theme-dark {
  --colour-background: #182341;
  --colour-body: #ffffff;
  --colour-primary: #f39d21;
  --colour-secondary: #2ec4b6;
  /* Tiles */
  --colour-tile-background: #253456;
  --colour-tile-shadow: #0c111c;
  /* Modal */
  --filter-close-button: invert(1) grayscale(100%) brightness(200%);
}

/* ------------------------ Tiles ------------------------ */
.tile {
    padding: 10px;
    background: var(--colour-tile-background);
    -webkit-box-shadow: 0px 0px 50px -15px var(--colour-tile-shadow);
    box-shadow: 0px 0px 50px -15px var(--colour-tile-shadow);
}
.greeting, .time {
    font-size: 1.5em;
}
.greeting img {
    height: 50px;
}

/* Menu */
.room-menu {
    margin-top: 20px;
    padding: 20px 0 0 0;
    border-top: 2px solid var(--colour-background);
}
.room-menu-item {
    text-align: center;
}
.room-menu-item.active {
  font-weight: 400;
}
.room-menu-item::after {
    content: '';
    display: block;
    position: relative;
    margin: 5px 0 0 0;
    width: 85%;
    left: 8%;
    border-top: 2px solid var(--colour-background);
}
.room-menu-item.active::after {
    border-top: 2px solid var(--colour-primary);
}

/* Items */
.item {
    text-align: center;
    border: 1px solid var(--colour-background);
    border-radius: 5px;
    padding: 0 0 9px 0;
}
.item-icon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.item-title {
    text-transform: uppercase;
    padding: 4px 0 8px 0;
    white-space: nowrap;
    font-size: 12px;
}
.item-icon > svg {
    fill: var(--colour-background);
    transition: fill 1.5s ease;
}
svg#icon-light-kitchen-table {
    fill: rgb(127 255 212);
    filter: drop-shadow(0px 0px 10px rgb(127 255 212 / 1));
}

/* Modals */
.modal-content {
    background-color: var(--colour-tile-background);
}
.btn-close {
  filter: var(--filter-close-button);
}
ul#myTab {
    margin-top: 20px;
}
div#picker {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 40px;
}
.nav-link, .nav-link:focus, .nav-link:hover {
    color: var(--colour-body)
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: var(--colour-body) var(--colour-body) var(--colour-body);
    isolation: isolate;
}
/* Light Control */
.light-modal > svg {
    transition: fill 1.5s ease;
}

/* Icons */
  /* Lamp */
/* .item-icon.on > svg#lamp > .cls-1{fill:url(#New_Gradient_Swatch_copy_12);}
.item-icon.on > svg#lamp > .cls-2{fill:url(#New_Gradient_Swatch_copy_12-2);}
.item-icon.on > svg#lamp > .cls-3{fill:url(#New_Gradient_Swatch_copy_12-3);}
.item-icon.on > svg#lamp > .cls-4{fill:url(#New_Gradient_Swatch_copy_12-4);}
.item-icon.on > svg#lamp > .cls-5{fill:url(#New_Gradient_Swatch_copy_12-5);}
.item-icon.on > svg#lamp > .cls-6{fill:url(#New_Gradient_Swatch_copy_12-6);}
.item-icon.on > svg#lamp > .cls-7{fill:url(#New_Gradient_Swatch_copy_12-7);}
.item-icon.on > svg#lamp > .cls-8{fill:url(#New_Gradient_Swatch_copy_12-8);} */

  /* Cast */
.item-icon.on > svg#cast > .cls-1{fill:url(#AE-DOS_Orange_Gradient);}
.item-icon.on > svg#cast > .cls-2{fill:url(#AE-DOS_Orange_Gradient-2);}
